.post {
  -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  border-radius: 20px;
  background-color: #131516;
  color: white;
}

.post .container {
  padding: 20px 0px;
}

.post .container p {
  padding: 0px 12px;
}

.post .container .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.post .container .user .userInfo {
  display: flex;
  gap: 20px;
  color: #b0b3b8;
}

.post .container .user .userInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.post .container .user .userInfo .details {
  display: flex;
  flex-direction: column;
}

.post .container .user .userInfo .details .name {
  font-weight: 600;
  font-size: 16px;
}

.post .container .user .userInfo .details .date {
  margin-top: 3.4px;
  font-size: 12px;
}

.post .container .content {
  margin: 10px 0px;
}

.post .container .content .image-container {
  display: flex;
  flex-direction: column; /* Stack images vertically */
  margin-top: 5px;
}

.post .container .content .image-container .image-wrapper {
  display: flex;
  margin-bottom: 5px; /* Add margin between container and third image */
}

.post .container .content .image-container .image-wrapper img {
  width: calc(50% - 5px); /* Set width to 50% minus some margin for side by side images */
  max-height: 400px; /* Adjust as needed */
  object-fit: cover;
  margin-right: 10px; /* Add margin between images */

}

.post .container .content .image-container img:last-child {
  width: 100%; /* Set width to 100% for the last image to span full width */
  margin-right: 0; /* Remove margin for the last image */
  max-height: 350px;
  
}

.post .container .info {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 1px 12px 5px 20px;
}

.post .container .info .item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color:#131516;
  color: white;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-form-item .ant-form-item-label >label::after {

  position: relative;
  margin-block: 0;
  margin-inline-start: 2px;
  margin-inline-end: 8px;
}

:where(.css-dev-only-do-not-override-1kuana8).ant-form-item .ant-form-item-label >label::after {
  content: "";
  position: relative;
  margin-block: 0;
  margin-inline-start: 2px;
  margin-inline-end: 8px;
}