.story {
  flex: 1;
  border-radius: 19px;
  overflow: hidden;
  position: relative;
  margin-right: -15px;
  img {
    width: 240px;
    height: 230px;
  }
  span {
    position: absolute;
    bottom: -5px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    left: 69px;
  }
  button {
    position: absolute;
    bottom: 35px;
    left: 104px;
    color: white;
    background-color: #0386c7;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .story-bg {
    background-color: #131516;
    position: relative;
  }
}

.stories {
  display: flex;
  flex-direction: row;
  gap: 14px;
  height: 250px;
  margin-bottom: 30px;
  background-color: black;
}

.story-card-image {
  width: 190px;
  height: 240px;
  object-fit: cover;
  border-radius: 19px;
}

.story-card span {
  position: absolute;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.all-stories {
  max-width: 960px;
}

.sci {
  margin-right: 20px;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

.sm-content p {
  margin-top: -15px !important;
  color: #787878 !important;
}

.sm-content .ant-form-item .ant-form-item-label > label {
  font-size: 16px !important;
}

.sm-content img {
  margin-left: 160px;
  margin-bottom: 20px;
}
